<div class="container">
  
  <div class="row mt-3">
    <h2>食材編集</h2>
  </div>
  
  <div class="row mt-3">
    <%= form_with model: @food, url: admin_food_path, local: true do |f| %>
    <table>
      <tr>
        <th><%= f.label "食材画像" %></th>
        <th><%= f.file_field :image, accept: "image/*" %></th>
      </tr>
      <tr>
        <th><%= f.label "食材名" %></th>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
      </tr>
    </table>
      <div><%= f.submit "変更を保存", class:"btn btn-success" %></div>
    <% end %>
  </div>
  
</div>
