<div class="container">

  <div class="row mt-3">
    <h2>食材詳細</h2>
  </div>
  
  <div class="row mt-3">
    <table>
      <tr>
        <%= image_tag @food.get_image(200,200) %>
      </tr>
      <tr>
        <th>食材名</th>
        <td><%= @food.name %></td>
      </tr>
      <tr>
        <th>カテゴリ</th>
        <td><%= @food.category.name %></td>
      </tr>
      <tr>
        <th>主な成分</th>
        <td><%= @food.ingredient.name %></td>
      </tr>
      <tr>
        <th><%= link_to "編集する", edit_admin_food_path(@food.id), class: "btn btn-success" %></th>
        <td><%= link_to "戻る", admin_foods_path, class: "btn btn-primary" %></td>
      </tr>
    </table>
  </div>

</div>
