<div class="container">
  
  <%= render partial: 'layouts/flash' %>
  
  <h2 class="contact-title mt-3">お問い合わせフォーム</h2>
  
  <div class="row ml-1">
    名前: <%= current_user.name %>
  </div>
  
  <div class="row ml-1">
    メールアドレス: <%= current_user.email %>
  </div>
  
  <%= form_for @contact, url: confirm_path do |f| %>
    <%= f.hidden_field :user_id, value:current_user.id %>
    <%= f.label :件名 %>
      <%= f.text_field :subject, class:"form-control" %>
    <%= f.label :お問い合わせ内容 %>
      <%= f.text_area :message, class:"form-control" %>
    <div class="row mt-3 ml-1">
      <%= f.submit "入力内容確認", class: "btn btn-success"  %>
    </div>
  <% end %>
  
</div>
