<div class="container">
  
  <% if @contact.errors.any? %>
    <%= @contact.errors.count %>件のエラー。
    <% @contact.errors.full_messages.each do |message| %>
      <%= message %>。
    <% end %>
  <% end %>
  
  <h2 class="contact-title mt-3">お問い合わせフォーム</h2>
  
  <div class="row ml-1">
    名前: <%= current_user.name %>
  </div>
  
  <div class="row ml-1">
    メールアドレス: <%= current_user.email %>
  </div>
  
  <%= form_for @contact, url: confirm_path do |f| %>
    <%= f.hidden_field :user_id, value:current_user.id %>
    <%= f.label :タイトル %>
      <%= f.text_field :subject, class:"form-control" %>
    <%= f.label :内容 %>
      <%= f.text_area :message, class:"form-control" %>
    <%= f.submit "入力内容確認" %>
  <% end %>
  
</div>
