<div class="container">
  
  <% if @contact.errors.any? %>
    <%= @contact.errors.count %>件のエラー。
    <% @contact.errors.full_messages.each do |message| %>
      <%= message %>。
    <% end %>
  <% end %>
  
  <h2 class="contact-title mt-3">お問い合わせフォーム</h2>
  
  <%= form_for @contact, url: confirm_path do |f| %>
    <%= f.label :名前 %>
      <%= f.text_field :name, class:"form-control" %>
    <%= f.label :メールアドレス %>
      <%= f.text_field :email, class:"form-control" %>
    <%= f.label :タイトル %>
      <%= f.text_field :subject, class:"form-control" %>
    <%= f.label :内容 %>
      <%= f.text_area :message, class:"form-control" %>
    <%= f.submit "入力内容確認" %>
  <% end %>
  
</div>
