<div class="container">
  
  <div class="row mt-3">
    <h2>ランキング</h2>
  </div>
  
  <% @tags.each do |tag| %>
    <h4><%= tag.name %></h4>
    <div class="row mt-3" id="food_list_<%= tag.id %>">
      <% tag.ranking_hash.each.with_index do |(key, value), i| %>
        <% break if i >= 5 %>
        <% food = Food.find(key) %>
        <div>
          <p><%= i + 1 %>位<%= food.name %></p>
          <p><%= image_tag food.get_image(100,100),class: 'food_item' %></p>
          <div id="food_id_<%= tag.id %>_<%= food.id %>" data-score=<%= value %> style="display: inline;"></div>
          <%= value %>
        </div>
      <% end %>
      <%= link_to "#{tag.name}ランキングを全て見る", rank_path(tag) %>
    </div>
    <script>
        const foodList_<%= tag.id %> = document.getElementById('food_list_<%= tag.id %>')
        const score_option_<%= tag.id %> = {
          size: 36,
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          half: true,
          readOnly: true,
        };
        for (let i = 0; i < foodList_<%= tag.id %>.children.length; i++) {
          let foodScore = document.querySelector('#' + foodList_<%= tag.id %>.children[i].lastElementChild.id);
          raty(foodScore, score_option_<%= tag.id %>);
        }
    </script>
  <% end %>
</div>
