<div class="container">
  
  <div class="row mt-3">
    <h2>食材一覧</h2>
  </div>
  
  <div class="row mt-3" id="food_list">
    <% @foods.each do |food| %>
      <div>
        <p><%= food.name %></p>
        <%= link_to food_path(food.id) do %>
          <%= image_tag food.get_image(100,100) %>
        <% end %>
        <div id="food_id_<%= food.id %>" data-score=<%= food.review_average_score %>>
        </div>
        (<%= food.review_average_score %>)
      </div>
    <% end %>
  </div>
  <div id="show-stars"></div>
  <script>
      const foodList = document.getElementById('food_list')
      const score_option = {
        size: 36,
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        readOnly: true,
      };
      for (let i = 0; i < foodList.children.length; i++) {
        let foodScore = document.querySelector('#' + foodList.children[i].lastElementChild.id);
        raty(foodScore, score_option);
      }
  </script>
  
</div>
