<div class="container">
  
  <div class="row mt-3">
    <h2>食材詳細</h2>
  </div>
  
  <div class="row mt-3">
    <table>
      <tr><%= image_tag @food.get_image(200,200) %></tr>
      <tr>
        <th>食材名</th>
        <td><%= @food.name %></td>
      </tr>
      <tr>
        <th>カテゴリ</th>
        <td><%= @food.category.name %></td>
      </tr>
      <tr>
        <th>主な成分</th>
        <td>
          <% @food_ingredients.each do |ingredient| %>
            <%= ingredient.name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>星</th>
        <td>
          <div class="row mt-3" id="food_list">
            <div id="food_id_<%= @food.id %>" data-score=<%= @food.review_average_score %>></div>
            <%= @food.review_average_score %>
          </div>
          <script>
              const foodList = document.getElementById('food_list')
              const score_option = {
                size: 36,
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= @food.review_average_score %> 
              };
              raty(foodList, score_option);
          </script>
        </td>
      </tr>
      <tr><th><%= link_to "戻る", foods_path, class: "btn btn-primary" %></th></tr>
    </table>
  </div>
  
</div>
