<div class="container">
  
  <div class="row mt-3">
    <h2>Top</h2>
  </div>
  
  <div class="row mt-3"><%= link_to "ランキング", ranks_path %></div>
  <div class="row mt-3"><%= link_to "食材一覧", foods_path %></div>
  <div class="row mt-3"><%= link_to "投稿一覧", reviews_path %></div>
  <div class="row mt-3"><%= link_to "タグから探す", tags_index_path %></div>
  <div class="row mt-3"><%= link_to "カテゴリから探す", categories_index_path %></div>
  
</div>
