<div class="container">
  
  <div class="row mt-3">
    <h2>新規投稿</h2>
  </div>
  
  <div class="mx-auto mt-3">
    <%= form_with model: @review, url: reviews_path, local: true do |f| %>
    <table>
      <tr>
        <th><%= f.label "題名" %></th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th><%= f.label "期間" %></th>
        <td><%= f.text_field :period %></td>
      </tr>
      <tr>
        <th><%= f.label "(単位)" %></th>
        <td><%= f.radio_button :period_method, :unentered, checked: true %>未設定</td>
        <td><%= f.radio_button :period_method, :date %>日</td>
        <td><%= f.radio_button :period_method, :week %>週間</td>
        <td><%= f.radio_button :period_method, :month %>ヶ月</td>
        <td><%= f.radio_button :period_method, :year %>年</td>
      </tr>
      <tr>
        <th><%= f.label "摂取量" %></th>
        <td><%= f.text_field :intake %></td>
      </tr>
      <tr>
        <th><%= f.label "(単位)" %></th>
        <td><%= f.radio_button :intake_method, :unentered, checked: true %>未設定</td>
        <td><%= f.radio_button :intake_method, :piece %>個</td>
        <td><%= f.radio_button :intake_method, :gram %>g</td>
        <td><%= f.radio_button :intake_method, :liter %>ml</td>
      </tr>
      <tr>
        <th><%= f.label "感想" %></th>
        <td><%= f.text_area :comment %></td>
      </tr>
      <tr>
        <th><%= f.label "評価" %></th>
        <td><%= f.text_field :score %></td>
      </tr>
    </table>
    <% end %>
  </div>
  
</div>
