<div class="container">

  <div class="row mt-3">
    <h2>新規登録</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  
    <div class="名前">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  
    <div class="field">
      <%= f.label "性別" %>
      <%= f.radio_button :gender, "unentered", checked: true %><%= f.label :gender, "未設定", value: "unentered" %>
      <%= f.radio_button :gender, "male" %><%= f.label :gender, "男性", value: "male" %>
      <%= f.radio_button :gender, "female" %><%= f.label :gender, "女性", value: "female" %>
      <%= f.radio_button :gender, "other" %><%= f.label :gender, "その他", value: "other" %>
    </div>
  
    <div class="field">
      <%= f.label "年齢" %>
      <%= f.select :age,  [ ["未設定", "unentered"] , ["10代", "teens"],  ["20代", "twenties"],  ["30代", "thirties"], ["40代", "forties"], ["50代", "fifties"], ["60代", "sixties"], ["70代", "seventies"],  ["80代", "eighties"] ]  %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class: "btn btn-success"  %>
    </div>
  <% end %>
  
  <div class="row mt-3 ml-1">
    <div>
      ※ 既に登録済みの方は<%= link_to "こちら", user_session_path %>からログインしてください。
    </div>
  </div>
  
</div>
