<!DOCTYPE html>
<html>
  <head>
    <title>FoodsLabo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/c913cccd76.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to "FoodsLabo", root_path, class:"nav-link text-dark" %>
          </div>
          <% if user_signed_in? %>
            <span class="text-center">ようこそ、<%= current_user.name %>さん！</span>
          <% end %>
          <% if admin_signed_in? %>
            <span class="text-center">管理者ログイン中</span>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-link">
                  <%= link_to "食材", admin_foods_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "会員", admin_users_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "タグ", admin_tags_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "成分", admin_ingredients_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "カテゴリ", admin_categories_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "お問い合わせ", admin_contacts_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link text-dark" %>
                </li>
              <% elsif user_signed_in? %>
                <li class="nav-link">
                  <%= link_to "マイページ", users_my_page_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "新規投稿", new_review_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "投稿一覧", reviews_list_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "いいね", user_likes_path(current_user), class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "お問い合せ", new_contact_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link text-dark" %>
                </li>
              <% else %>
                <li class="nav-link">
                  <%= link_to "新規登録", new_user_registration_path, class:"nav-link text-dark" %>
                </li>
                <li class="nav-link">
                  <%= link_to "ログイン", user_session_path, class:"nav-link text-dark" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  
  <main>
    <%= render partial: 'layouts/flash' %>
    <%= yield %>
  </main>
  
  <footer>
    <div class="container, bg-light fixed-bottom">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight © FoodsLabo.</p>
        </div>
      </div>
    </div>
  </footer>
  
  </body>
</html>
